$color-black: var(--color-black) !default;
$color-blue-0: var(--color-blue-0) !default;
$color-blue-1: var(--color-blue-1) !default;
$color-blue-2: var(--color-blue-2) !default;
$color-blue-3: var(--color-blue-3) !default;
$color-blue-4: var(--color-blue-4) !default;
$color-blue-5: var(--color-blue-5) !default;
$color-blue-6: var(--color-blue-6) !default;
$color-blue-7: var(--color-blue-7) !default;
$color-blue-8: var(--color-blue-8) !default;
$color-blue-9: var(--color-blue-9) !default;
$color-coral-0: var(--color-coral-0) !default;
$color-coral-1: var(--color-coral-1) !default;
$color-coral-2: var(--color-coral-2) !default;
$color-coral-3: var(--color-coral-3) !default;
$color-coral-4: var(--color-coral-4) !default;
$color-coral-5: var(--color-coral-5) !default;
$color-coral-6: var(--color-coral-6) !default;
$color-coral-7: var(--color-coral-7) !default;
$color-coral-8: var(--color-coral-8) !default;
$color-coral-9: var(--color-coral-9) !default;
$color-gray-0: var(--color-gray-0) !default;
$color-gray-1: var(--color-gray-1) !default;
$color-gray-2: var(--color-gray-2) !default;
$color-gray-3: var(--color-gray-3) !default;
$color-gray-4: var(--color-gray-4) !default;
$color-gray-5: var(--color-gray-5) !default;
$color-gray-6: var(--color-gray-6) !default;
$color-gray-7: var(--color-gray-7) !default;
$color-gray-8: var(--color-gray-8) !default;
$color-gray-9: var(--color-gray-9) !default;
$color-green-0: var(--color-green-0) !default;
$color-green-1: var(--color-green-1) !default;
$color-green-2: var(--color-green-2) !default;
$color-green-3: var(--color-green-3) !default;
$color-green-4: var(--color-green-4) !default;
$color-green-5: var(--color-green-5) !default;
$color-green-6: var(--color-green-6) !default;
$color-green-7: var(--color-green-7) !default;
$color-green-8: var(--color-green-8) !default;
$color-green-9: var(--color-green-9) !default;
$color-orange-0: var(--color-orange-0) !default;
$color-orange-1: var(--color-orange-1) !default;
$color-orange-2: var(--color-orange-2) !default;
$color-orange-3: var(--color-orange-3) !default;
$color-orange-4: var(--color-orange-4) !default;
$color-orange-5: var(--color-orange-5) !default;
$color-orange-6: var(--color-orange-6) !default;
$color-orange-7: var(--color-orange-7) !default;
$color-orange-8: var(--color-orange-8) !default;
$color-orange-9: var(--color-orange-9) !default;
$color-pink-0: var(--color-pink-0) !default;
$color-pink-1: var(--color-pink-1) !default;
$color-pink-2: var(--color-pink-2) !default;
$color-pink-3: var(--color-pink-3) !default;
$color-pink-4: var(--color-pink-4) !default;
$color-pink-5: var(--color-pink-5) !default;
$color-pink-6: var(--color-pink-6) !default;
$color-pink-7: var(--color-pink-7) !default;
$color-pink-8: var(--color-pink-8) !default;
$color-pink-9: var(--color-pink-9) !default;
$color-primary-0: var(--color-primary-0) !default;
$color-primary-1: var(--color-primary-1) !default;
$color-primary-2: var(--color-primary-2) !default;
$color-primary-3: var(--color-primary-3) !default;
$color-primary-4: var(--color-primary-4) !default;
$color-primary-5: var(--color-primary-5) !default;
$color-primary-6: var(--color-primary-6) !default;
$color-primary-7: var(--color-primary-7) !default;
$color-primary-8: var(--color-primary-8) !default;
$color-primary-9: var(--color-primary-9) !default;
$color-purple-0: var(--color-purple-0) !default;
$color-purple-1: var(--color-purple-1) !default;
$color-purple-2: var(--color-purple-2) !default;
$color-purple-3: var(--color-purple-3) !default;
$color-purple-4: var(--color-purple-4) !default;
$color-purple-5: var(--color-purple-5) !default;
$color-purple-6: var(--color-purple-6) !default;
$color-purple-7: var(--color-purple-7) !default;
$color-purple-8: var(--color-purple-8) !default;
$color-purple-9: var(--color-purple-9) !default;
$color-red-0: var(--color-red-0) !default;
$color-red-1: var(--color-red-1) !default;
$color-red-2: var(--color-red-2) !default;
$color-red-3: var(--color-red-3) !default;
$color-red-4: var(--color-red-4) !default;
$color-red-5: var(--color-red-5) !default;
$color-red-6: var(--color-red-6) !default;
$color-red-7: var(--color-red-7) !default;
$color-red-8: var(--color-red-8) !default;
$color-red-9: var(--color-red-9) !default;
$color-white: var(--color-white) !default;
$color-yellow-0: var(--color-yellow-0) !default;
$color-yellow-1: var(--color-yellow-1) !default;
$color-yellow-2: var(--color-yellow-2) !default;
$color-yellow-3: var(--color-yellow-3) !default;
$color-yellow-4: var(--color-yellow-4) !default;
$color-yellow-5: var(--color-yellow-5) !default;
$color-yellow-6: var(--color-yellow-6) !default;
$color-yellow-7: var(--color-yellow-7) !default;
$color-yellow-8: var(--color-yellow-8) !default;
$color-yellow-9: var(--color-yellow-9) !default;

$color-bg-default: var(--color-bg-default) !default;
$color-bg-overlay: var(--color-bg-overlay) !default;
$color-bg-inset: var(--color-bg-inset) !default;
$color-bg-hover: var(--color-bg-hover) !default;
$color-bg-press: var(--color-bg-press) !default;

$color-border-default: var(--color-border-default) !default;
$color-border-muted: var(--color-border-muted) !default;
$color-border-subtle: var(--color-border-subtle) !default;

$color-fg-default: var(--color-fg-default) !default;
$color-fg-muted: var(--color-fg-muted) !default;
$color-fg-subtle: var(--color-fg-subtle) !default;
$color-fg-emphasis: var(--color-fg-emphasis) !default;
